/*-------------------------------------GENERAL-----------------------------------*/
@font-face {
    font-family: ShagFont;
    src: url(fonts/shagtube-font.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: IcoMoon;
    src: url(fonts/IcoMoon-Free.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    text-decoration: none;
    font-family: Calibri, Arial;
}

html, body {
    height: 100%;
}

.container {
    color: #ccc;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #333;
    height: 100%;
}
/*-------------------------------------------------------------------------------*/
.hide {
    display: none;
}
/*-------------------------------------HEADER------------------------------------*/
header {
    width: 100%;
    background-color: #222;
    height: 160px;
}
.searchWrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    margin-bottom: 0;
    width: 30%;
    min-width: 200px;
}

    .logo {
        position: absolute;
        width: 140px;
    }
    .inputArea {
        flex-basis: 100%;
        margin-bottom: 5px;
    }
    .filterStatus {
        color: #9a0000;
        text-align: center;
        flex-basis: 100%;
        margin-bottom: 5px;
    }
    .youInput {
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #ccc;
        outline: 0;
        box-shadow: inset 0 2px 9px rgba(66,66,66,0.8);
        -o-box-shadow: inset 0 2px 9px rgba(66,66,66,0.8);
        -moz-box-shadow: inset 0 2px 9px rgba(66,66,66,0.8);
        -webkit-box-shadow: inset 0 2px 9px rgba(66,66,66,0.8);
        color: black;
        border: 2px solid #444;
    }
    #searchInput {
        margin-bottom: 5px;
        height: 50px;
        width: calc(100% - 50px);
        font-size: 25px;
        padding: 0 15px;
        vertical-align: middle;
    }
    .icon-search {
        display: inline-block;
        box-sizing: border-box;
        height: 50px;
        width: 50px;
        border: 2px solid #444;
        border-radius: 5px;
        background: linear-gradient(#BDBDBD, #A1A1A1) #A1A1A1;
        cursor: pointer;
        vertical-align: middle;
    }
        .icon-search:before {
            content: "\e986";
            font-family: IcoMoon;
            font-size: 30px;
            color: #eee;
            margin: 6px;
            line-height: 42px;
        }
        .icon-search:hover {
            background: linear-gradient(#B8B8B8, #ADADAD) #ADADAD
        }
        .icon-search:active {
            background: linear-gradient(#ADADAD, #B8B8B8) #B8B8B8;
        }

        .contacts {
            display: block;
            float: right;
            margin-bottom: 5px;
        }
            .contacts a {
                margin-right: 15px;
                color: #ccc;
                font-size: 25px;
                cursor: pointer;
            }
            .contacts a:hover{
                color: white;
            }
            .contactTwitter:before{
                content: "\e80e";
                font-family: ShagFont;
            }
            .contactFB:before{
                content: "\e811";
                font-family: ShagFont;
            }

        .filterList {
            text-align: center;
            margin-top: 10px;
            font-size: 0px;
        }
            .filterList li {
                display: inline-block;
                margin: 0px 15px;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }
            .filterList li:hover {
                color: red;
                text-decoration: underline;
            }
        .filterButton {
            margin-left: 5px;
            background-color: #333;
            color: #ccc;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            padding: 3px;
            cursor: pointer;
            outline: none;
        }
        .filterButton:hover {
            background-color: inherit;
            border: 2px solid red;
            color: red;
        }
        #searchAfter {
            height: 35px;
            width: 195px;
        }
        #searchAfterButton {
            box-sizing: border-box;
            height: 35px;
            width: 35px;
            border: 2px solid #444;
            cursor: pointer;
            background: linear-gradient(#BDBDBD, #A1A1A1) #A1A1A1;
            outline:none;
        }
        #searchAfterButton:hover {
            background: linear-gradient(#B8B8B8, #ADADAD) #ADADAD
        }
        #searchAfterButton:active {
            background: linear-gradient(#ADADAD, #B8B8B8) #B8B8B8;
        }
/*-------------------------------------------------------------------------------*/
/*----------------------------------MAIN CONTENT---------------------------------*/
.mainContent {
    position: relative;
    overflow: hidden;
    height: calc(100% - 80px);
}
    .content {
        position: absolute;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        min-width: 100%;
        margin: 10px 0;
        font-size: 20px;
        padding: 20px 0;
        user-select: none;
        -webkit-user-select: none;
        box-sizing: border-box;
    }
        .component {
            background-color: #2d2d2d;
            position: relative;
            box-sizing: border-box;
            padding: 25px;
            border: 4px solid #666;
            border-radius: 5px;
            width: 360px;
            height: calc(85vh - 120px);
            overflow: hidden;
        }
            .icon-video {
                display: inline-block;
                position: absolute;
                top: 5px;
                right: 5px;
            }
                .icon-video:before {
                    content: "\e804";
                    font-family: ShagFont;
                    font-size: 25px;
                }
            .component li {
                margin-bottom: 15px;
                text-align: justify;
            }
            #componentName {
                height: 75px;
                text-align: center;
                font-size: 25px;
                margin-bottom: 20px;
                width: 320px;
            }
            #componentName a {
                color: red;
            }
            #componentImage {
                max-width: 100%;
            }
            #componentImage:hover {
                cursor: pointer;
                opacity: 0.7;
            }
            #componentAuthor {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            #componentAuthor:before {
                content: "\e81d";
                font-family: ShagFont;
                font-size: 25px;
                color: #c00;
                margin-right: 5px;
            }
            #componentViews:before {
                content: "\e805";
                font-family: ShagFont;
                font-size: 20px;
                color: #c00;
                margin-right: 5px;
            }
            #componentDate {
                float: right;
            }
            #componentDate:before {
                content: "\e80b";
                font-family: ShagFont;
                font-size: 20px;
                color: #c00;
                margin-right: 5px;
            }
            #componentDescription {
                max-height: 200px;
            }
            #componentDescription p{
                max-height: 260px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
/*-------------------------------------------------------------------------------*/
footer {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #222;
    bottom: 0;
}
    .buttonsList {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 20px auto;
    }
        .buttonsList li {
            display: inline-block;
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 0 2px;
            cursor: pointer;
        }
        .bg-normal {
            background-color: white;
        }
        .bg-curr {
            background-color: red;
        }
        .buttonsList li span {
            z-index: 10;
            display: none;
            box-sizing: border-box;
            width: 35px;
            height: 35px;
            border-radius: 10px;
            text-align: center;
            font-weight: bold;
            line-height: 30px;
            border: 3px solid white;
            color: white;
            background-color: #333;
            opacity: 0.8;
            position: absolute;
            top: -37px;
            margin-left: -2px;
        }
        .buttonsList li:hover {
            background-color: #aaa;
        }
        /*.buttonsList li:hover span {
            display: inline;
        }*/

        .pageViewer {
            position: absolute;
            right: 5px;
            bottom: 5px;
            font-size: 45px;
            font-weight: bold;
            font-style: Tahoma;
        }
/*----------------------------------Overlay--------------------------------------*/
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    -webkit-transition: background 400ms ease-in;
    -moz-transition: background 400ms ease-in;
    transition: background 400ms ease-in;
    display: none;
}
    .overlay .videoPlayer {
        background: black;
        width: 700px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 3px;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0 0 10px #aaa;
        -moz-box-shadow: 0 0 10px #aaa;
        box-shadow: 0 0 10px #aaa;
    }
        .overlay .videoPlayer .closeVideo {
            background: #606061;
            color: white;
            position: absolute;
            text-align: center;
            width: 36px;
            line-height: 36px;
            right: -18px;
            top: -16px;
            text-decoration: none;
            font-weight: bold;
            font-size: 28px;
            border-radius: 50%;
            -webkit-box-shadow: 1px 1px 3px #000;
            -moz-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;

            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        .overlay .videoPlayer .closeVideo:hover {
            background: #bbb;
        }
/*-------------------------------------------------------------------------------*/

/*----------------------------------Clearfix-------------------------------------*/
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
/*-------------------------------------------------------------------------------*/
@media (max-width:1300px) {
    .filterList li {
                margin: 0px 10px;
                font-size: 16px;
            }
}

@media (max-width:950px) {
    .searchWrap {
        width: 300px;
    }
    .buttonsList {
        margin: 27px auto;
    }
        .buttonsList li {
            width: 15px;
            height: 15px;
        }
            .buttonsList li span {
                    margin-left: -9px;
            }
}
@media (max-width:950px) {
    .searchWrap {
        width: 300px;
    }
    .buttonsList {
        margin: 27px auto;
    }
        .buttonsList li {
            width: 15px;
            height: 15px;
        }
            .buttonsList li span {
                    margin-left: -9px;
            }

    .overlay .videoPlayer {
        width: 350px;
        height: 250px;
    }
        .overlay .videoPlayer .closeVideo {
            width: 24px;
            line-height: 24px;
            right: -12px;
            top: -10px;
            font-size: 14px;
        }
}
@media (max-width:500px) {
    .logo{
        width: 60px;
    }
    .searchWrap {
        width: 220px;
    }
    #searchInput {
        height: 40px;
    }
    .icon-search {
        height: 40px;
        width: 40px;
    }
         .icon-search:before {
            font-size: 25px;
         }
    .filterList li {
                margin: 3px;
                font-size: 14px;
            }
    .filterButton {
        font-size: 14px;
    }
}
@media (max-height: 840px) {
    .mainContent {
        -webkit-transform: scale(1, .9);
        transform: scale(1, .9)
    }
    .content {
        margin: 0;
        padding: 0;
    }
    .component {
        padding: 15px;
    }
    .component li {
        display: inline-block;
        margin: 0;
    }
    #componentName{
        margin-bottom: 0;
        height: 50px;
    }
    #componentAuthor:before, #componentViews:before, #componentDate:before {
        font-size: 15px;
    }
    #componentAuthor, #componentViews, #componentDate {
        display: inline-block;
        margin: 0 6px;
        font-size: 18px;
    }
    #componentAuthor {
        width: 300px;
    }
    #componentDate {
        float: none;
    }
     #componentDescription>* {
        margin-top: 5px;
        font-size: 13px;
    }
}


/* Datepicker */
#ui-datepicker-div {
    width: 220px;
    border: 1px solid black;
    padding: 5px;
    background: gray;
    display: none;
}
div.ui-datepicker-control {
    position: relative;
    height: 25px;
    background: forestgreen;
}
div.ui-datepicker-control div {
    padding: 5px;
}
div.ui-datepicker-control div a {
    color: #fff;
}
div.ui-datepicker-links {
    position: relative;
    height: 20px;
    padding: 5px 0 0 0;
    background: darkgreen;
    border-bottom: 1px solid green;
    text-align: center;
}
div.ui-datepicker-links div {
    padding: 5px;
}
div.ui-datepicker-links div a {
    color: #fff;
}
div.ui-datepicker-clear,
div.ui-datepicker-prev {
    position: absolute;
    top: 0;
    left: 0;
}
div.ui-datepicker-close,
div.ui-datepicker-next {
    position: absolute;
    top: 0;
    right: 0;
}
div.ui-datepicker-current {
    display: inline;
}
div.ui-datepicker-header {
    background: #aaa;
    margin-top: 5px;
    text-align: center;
}
.ui-widget-header {
    border: none;
}
div.ui-datepicker-header select {
    margin: 0 3px;
}
table.ui-datepicker {
    width: 250px;
    border-collapse: collapse;
    margin: 10px 0 0 0;
}
table.ui-datepicker td {
    padding: 3px;
    border: 1px solid red;
}
table.ui-datepicker thead td {
    text-align: center;
    font-weight: bold;
    background: green;
    color: lightgreen;
}
td.ui-datepicker-today {
    background: #dff6e4;
}
td.ui-datepicker-current-day {
    background: darkgreen;
    color: #fff;
}